{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <div id="profile" style="display: none;">{{ profile }}</div>
    {% if user.is_authenticated %}
        {% if post_form %}
        <form action type="submit" method="post">
        {% csrf_token %}
            <div>
                <h5>New Post</h5>
                {{ post_form.text_area }}
            </div>
            <div>
                <input type="submit" value="Submit Form" name="submit">
            </div>
        </form>
        {% endif %}
        {% if profile %}
            <div style="margin-left: 40px; margin-top: 20px; margin-bottom: 20px;">
                <h3>Profile of {{ profile }}</h3>
            </div>
            <div style="display: grid; grid-template-columns: 180px 180px;">
                <div style="text-align: center;">
                    <h5>Followers</h5>
                    {{ followers_amount }}
                </div>
                <div style="text-align: center;">
                    <h5>Follows</h5>
                    {{ follows_amount }}
                </div>
            </div>
            {% if profile != user.username %}
            <div style="display: grid; grid-template-columns: 180px 180px;">
                 <div style="margin-left: 60px; margin-top: 20px; margin-bottom: 20px;">
                    <button id="follow" name="follow" value="Follow">Follow</button>
                </div>
                 <div style="margin-left: 50px; margin-top: 20px; margin-bottom: 20px;">
                    <button id="unfollow" name="unfollow" value="Unfollow">Unfollow</button>
                </div>
            </div>
            {% endif %}
            <div class="paginator">
                <div class="post">
                {% for post in page_obj.object_list %}
                    <p>USER: {{ post.user }}</p>
                    <p>TIMESTAMP: {{ post.publishing_date }}</p>
                    <p>EDITED AT: {{ post.edit_date }}</p>
                    <p>TEXT: {{ post.text }}</p>
                    <p>LIKES: {{ post.likes }}</p>
                {% endfor %}
                </div>
                {% if page_obj.has_other_pages %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1"> first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% endif %}

        <div id="posts">

        </div>
    {% endif %}

{% block script %}
{% if flag == 'all_posts' %}
<script src="{% static '/network/posts.js' %}"></script>
{% else %}
<script src="{% static '/network/index.js' %}"></script>
{% endif %}
{% endblock %}
{% endblock %}
