{% extends 'auctions/layout.html' %}

{% block body %}
<h2>{{ listing.title }}</h2>
<div style="display: grid; grid-template-columns: 400px 600px">
    <div style="padding: 20px;">
        {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" width="400" height="220">
        {% endif %}
    </div>
    <div style="padding: 50px; text-align: right; margin: 20px;">
        <h3>
            <a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>
        </h3>
        <h4>
            Actual bid is {{ listing.price }} $
        </h4>
        <h6>
            Author of auction is {{ listing.creator }}
        </h6>
    </div>
</div>
<div style="margin: 20px;"><h4>Description</h4></div>
<div style="margin: 20px; display: grid; grid-template-columns: 1000px auto">
    <h5>

    {{ listing.description }}
    </h5>
</div>
    <div>
        <div style="margin: 20px;">
        <a href="{% url 'comments' listing_id=listing.id %}" role="button" class="btn btn-primary">Watch all comments or leave comment</a>
        </div>
    {% if user.is_authenticated %}
        <div style="margin: 20px;">
        <a href="{% url 'add_wl' listing_id=listing.id %}" role="button" class="btn btn-primary">Add to WatchList</a>
            <a href="{% url 'remove_wl' listing_id=listing.id %}" role="button" class="btn btn-primary">Remove from WatchList</a>
        </div>
        <div>
            {% if not listing.is_open %}
            <div style="margin: 20px;">
            <a href="{% url 'bid' listing_id=listing.id %}" role="button" class="btn btn-primary">Place a Bid</a>
            </div>
            <div>
                {% if bid_form %}
                    <form style="margin: 20px;" action type="sumbit" method="post">
                    {% csrf_token %}
                    {{ bid_form }}
                    <input style="margin: 20px;" type="submit" name="submit" value="Bid" class="btn btn-primary">
                </form>
                {% endif %}
            </div>
            {% if user == is_author %}
            <div style="margin: 20px;">
                <a href="{% url 'close' listing_id=listing.id %}" role="button" class="btn btn-primary">Close Bids</a>
            <div>
                {% endif %}
            {% else %}
            <div style="margin: 20px;">
                Auction is STOPPED.
            </div>
            {% endif %}
        {% if winner %}
        {% if winner != '' and not listing.is_open %}
            <div style="margin: 20px;">
            Last bid was made by {{ winner }}!
            </div>
        {% else %}
            <div style="margin: 20px;">
            The winner is {{ winner }}!
            </div>
        {% endif %}
        {% endif %}
        {% if message_closed %}
            <div style="margin: 20px;">
            {{ message_closed }}
            </div>
        {% endif %}
        {% if message %}
            <div style="margin: 20px;">
            {{ message }}
            </div>
        {% endif %}
            {% if message_bid %}
                <div style="margin: 20px;">
                {{ message_bid }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<ul>
<div style="display: grid; grid-template-columns: 400px 600px">
<div>
{% if all_comments != '' %}
   {% for comment in all_comments %}
       <li><h5>Title: {{ comment.title }}</h5>
       <h6>comment: {{ comment.comment }}</h6>
       <h6>from user {{ comment.user }}</h6></li>
   {% endfor %}
{% endif %}
</div>
<div>
{% if comment_form  %}
<div style="margin: 20px;">
<form action type="submit" method="post">
    {% csrf_token %}
    <div>
        <p>Provide title for your comment</p>
        {{ comment_form.title }}
    </div>
    <div>
        <p>Provide comment</p>
        {{ comment_form.comment }}
    </div>
    <div>
        <input type="submit" value="submit" name="submit" class="btn btn-primary">
    </div>
</form>
</div>
</div>
</div>

{% endif %}
{% endblock %}