{% extends 'auctions/layout.html' %}

{% block body %}

<div>
    <ul>
    {% for listing in listings %}
       <li>
           <a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>
           <img src="{{ listing.image.url }}" alt="{{ listing.title }}" width="500" height="350">
       </li>
    {% endfor %}
    </ul>
</div>

{% if user.is_authenticated %}
    <a href="{% url 'create' %}">Create Listing</a>
{% else %}
    Only authenticated users are able to create listing!
{% endif %}

{% endblock %}